In [24]:
import pandas as pd

# Filväg till den uppladdade filen
file_path = "riket2023_åk9_np.xlsx"

# Läsa in sheet-namn
sheets = pd.ExcelFile(file_path).sheet_names
sheets

['Engelska',
 'Matematik',
 'Svenska',
 'Svenska som andraspråk',
 'Rapportbeskrivning och def.']

In [11]:
# Läsa in data från "Engelska"-sheetet
df_engelska = pd.read_excel(file_path, sheet_name="Engelska")

# Visa de första raderna
df_engelska.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Grundskolan - Resultat nationella prov årskurs...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Engelska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Valt läsår: 2022/23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Ladda in data igen, men med rätt header-rad 
df_engelska = pd.read_excel(file_path, sheet_name="Engelska", skiprows=5)

# Visa de första raderna igen efter rensning
df_engelska.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Antal elever med provbetyg A-F,NaN,NaN,Andel (%) med provbetyg A-E,NaN,NaN,Genomsnittlig betygspoäng,NaN,NaN
2,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
3,Riket,Samtliga,106941,51864,55077,97,97.1,97,15.7,15.8,15.7
4,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4