In [4]:
import pandas as pd

# Filväg till den uppladdade filen
file_path = "riket2023_åk9_np.xlsx"

# Läsa in sheet-namn
sheets = pd.ExcelFile(file_path).sheet_names
sheets

['Engelska',
 'Matematik',
 'Svenska',
 'Svenska som andraspråk',
 'Rapportbeskrivning och def.']

In [5]:
# Läsa in data från "Engelska"-sheetet
df_engelska = pd.read_excel(file_path, sheet_name="Engelska")

# Visa de första raderna
df_engelska.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Grundskolan - Resultat nationella prov årskurs...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Engelska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Valt läsår: 2022/23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Ladda in data igen, men med rätt header-rad 
df_engelska = pd.read_excel(file_path, sheet_name="Engelska", skiprows=5)

# Visa de första raderna igen efter rensning
df_engelska.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Antal elever med provbetyg A-F,NaN,NaN,Andel (%) med provbetyg A-E,NaN,NaN,Genomsnittlig betygspoäng,NaN,NaN
2,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
3,Riket,Samtliga,106941,51864,55077,97,97.1,97,15.7,15.8,15.7
4,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4

In [13]:
import pandas as pd

# Filnamn och ämnen
file_path = "riket2023_åk9_np.xlsx"
subjects = ["Engelska", "Matematik", "Svenska", "Svenska som andraspråk"]

# Läs in data, hoppa över de första 8 raderna
dfs = {subject: pd.read_excel(file_path, sheet_name=subject, skiprows=8) for subject in subjects}

# Justera kolumnnamn baserat på din data
for subject, df in dfs.items():
    df.columns = ["Riket", "Huvudman", "Totalt (A-F)", "Flickor (A-F)", "Pojkar (A-F)",
                  "Totalt (A-E)", "Flickor (A-E)", "Pojkar (A-E)", "Totalt (poäng)", "Flickor (poäng)", "Pojkar (poäng)"]

# Kontrollera att data laddats in korrekt
for subject, df in dfs.items():
    print(f"\n{subject} Data:")
    print(df.head())

Engelska Data:
   Riket    Huvudman  Totalt (A-F)  Flickor (A-F)  Pojkar (A-F)  Totalt (A-E)  \
0  Riket    Samtliga        106941          51864         55077          97.0
1  Riket    Kommunal         84310          40675         43635          96.6
2  Riket     Enskild         22582          11165         11417          98.7
3  Riket  Skolverket            49             24            25         100.0

   Flickor (A-E)  Pojkar (A-E)  Totalt (poäng)  Flickor (poäng)  \
0           97.1          97.0            15.7             15.8
1           96.6          96.6            15.4             15.5
2           98.8          98.7            16.9             17.0
3          100.0         100.0            18.5             18.9

   Pojkar (poäng)
0            15.7
1            15.4
2            16.8
3            18.2

Matematik Data:
   Riket    Huvudman  Totalt (A-F)  Flickor (A-F)  Pojkar (A-F) Totalt (A-E)  \
0  Riket    Samtliga        106766          51548         55218         89.1
1  Riket    Kommunal         84163          40386         43777         88.1
2  Riket     Enskild         22553          11137         11416         92.9
3  Riket  Skolverket            50             25            25         ~100

  Flickor (A-E) Pojkar (A-E)  Totalt (poäng)  Flickor (poäng)  Pojkar (poäng)
0          88.7         89.5            11.9             11.8            12.0
1          87.7         88.5            11.6             11.5            11.7
2          92.2         93.5            13.0             12.8            13.1
3          ~100         ~100            14.1             13.5            14.7

Svenska Data:
   Riket    Huvudman  Totalt (A-F)  Flickor (A-F)  Pojkar (A-F)  Totalt (A-E)  \
0  Riket    Samtliga         93225          45800         47425          96.1
1  Riket    Kommunal         72771          35484         37287          95.7
2  Riket     Enskild         20414          10297         10117          97.6
3  Riket  Skolverket            40             19            21         100.0

   Flickor (A-E)  Pojkar (A-E)  Totalt (poäng)  Flickor (poäng)  \
0           97.9          94.4            13.6             14.5
1           97.6          93.8            13.3             14.3
2           98.7          96.6            14.4             15.2
3          100.0         100.0            15.0             15.9

   Pojkar (poäng)
0            12.7
1            12.4
2            13.5
3            14.2

Svenska som andraspråk Data:
   Riket    Huvudman Totalt (A-F) Flickor (A-F) Pojkar (A-F) Totalt (A-E)  \
0  Riket    Samtliga        14092          6447         7645         77.7
1  Riket    Kommunal        11963          5495         6468         75.9
2  Riket     Enskild         2122           949         1173         87.7
3  Riket  Skolverket           ..            ..           ..           ..

  Flickor (A-E) Pojkar (A-E) Totalt (poäng) Flickor (poäng) Pojkar (poäng)
0          81.6         74.3            9.4            10.2            8.7
1            80         72.4              9             9.9            8.3
2          90.9         85.2           11.1              12           10.4
3            ..           ..             ..              ..             ..